/*--- Tamanho de fonte ----*/
@mixin font-size($size) {
    
        /*---- h1 ----*/
    @if $size == cb1 {
        font-size: 2.187rem;
    }

    /*---- h2 ----*/
    @else if $size == cb2 {
        font-size: 1.75rem;
    }

    /*--- h3 ---*/
    @else if $size == cb3 {
        font-size: 1.375rem;
    }

    /*---- Padrão ----*/
    @else if $size == normal {
        font-size: 1.125rem;
    }

}