@import 'pointcom-variables.scss';
@import 'pointcom-mixins';

/*---- GERAL ----*/
html, body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

body {
    background-color: $color-default;
}

/*---- HEADER ----*/

/*---- SECOES ----*/

/*---- FOOTER ----*/